<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="nlog log.log" >


  <!-- Hentet fra 
  http://stackoverflow.com/questions/4091606/most-useful-nlog-configurations
  -->
  
  <variable name="day" value="${date:format=dddd}"/>
  <variable name="month" value="${date:format=MMMM}"/>
  <variable name="timevar" value="${date:format=HH\:mm\:ss}"/>

  <variable name="brief" value="${timevar} | ${level} | ${logger} | ${message}"/>
  <variable name="normal" value="${timevar} | ${machinename} | ${windows-identity} | ${level} | ${logger} | ${message}"/>
  <variable name="verbose" value="${timevar} | ${machinename} |${windows-identity} | ${processid} | ${processname} | ${level} | ${logger} | ${message}"/>

  <targets>
    <target name="warn" xsi:type="File" layout="${verbose}" fileName="${basedir}/logs/${shortdate}.Warnings.log" />
    <target name="file" xsi:type="File" layout="${normal}" fileName="${basedir}/logs/${shortdate}.log" />
    <target name="console" xsi:type="ColoredConsole" layout="${brief}" />
  </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="file" />
      <logger name="*" minlevel="Trace" writeTo="console" />
      <logger name="*" minlevel="Warn" writeTo="warn" />
    </rules>

</nlog>